
.current_game {
    display: flex;
    justify-content: center;
}

.teams {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 950px;
    margin-bottom: 20px;
}
.blue {
    display: flex;
    width: 1700px;
    justify-content: space-between;
}
.red {
    display: flex;
    width: 1700px;
    justify-content: space-between;
}
